*.iml
.gradle
/local.properties

/.idea/modules.xml
/.idea/libraries/
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
/.idea/codeStyles/Project.xml
/.idea/caches/build_file_checksums.ser
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
*.iml
.DS_Store
/build
/captures
.externalNativeBuild
